 {% extends 'book/base.html' %}}

{% block content %}
<h1>Task for our project</h1>
<p>The result of database design is the creation of a system capable of providing information services for issuing the necessary data and updating them.

    The database contains information about the book, its detailed description, availability in the store, the author, and provides the ability to search and select data, as well as allows you to form book ratings.
    In accordance with the subject area, the system is built taking into account the following features:
    <li>each book is presented within its genre;
    <li>for each book, you can get its detailed information and information about the author ("about the author" section);
    <li>recommendations of other books of his authorship are provided for each author;
    <li>a rating is formed based on reviews left by users;
    <li>each book can be bought in several stores provided;
    <li>for each book, its availability in one or another store is indicated.
{% endblock %}